<% layout('layout') -%>

<div class="row">
  <div class="col-lg-6 col-md-offset-3">

    <form method="post">

      <div class="form-group">
        <label="imageurl">Imageurl: </label>
        <input type="text" class="form-control" name="imageurl">
      </div>
      <div class="form-group">
        <label="name">BookName: </label>
        <input type="text" class="form-control" name="bookname">
      </div>
      <div class="form-group">
        <label="name">Price: </label>
        <input type="currency" class="form-control" name="price">
      </div>
      <div class="form-group">
        <label="name">Discription: </label>
        <input type="text" class="form-control" name="discription">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>
